* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

.content-center {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.content-center .text-center {
  text-align: center;
}

.todo {
  list-style: none;
  padding: 0;
}

.todo li {
  padding: 10px;
  border-bottom: 1px #ccc solid;
}

.todo li input {
  width: initial;
  margin-right: 10px;
}

.todo li.complete {
  text-decoration: line-through;
  color: #999;
  cursor: not-allowed;
}